<?xml version="1.0" encoding="UTF-8"?>

<web-app>
        <servlet>
               <servlet-name>personInfoServlet</servlet-name>
               <servlet-class>PersonInfoServlet</servlet-class>
        </servlet>

        <servlet-mapping>
               <servlet-name>personInfoServlet</servlet-name>
               <url-pattern>/personInfo</url-pattern>
        </servlet-mapping>

</web-app>
